@charset "UTF-8";
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}
main {
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}
section#login > div#imagem {
    background:#5f2c82 url(../imagens/pexels-scott-webb-1544947.jpg);
    background-size: cover;
    height: 200px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
section#login > div#formulario {
    display: block;
    padding: 10px;
}
div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}
div#formulario > p{
    font-size: 0.8em;
}